doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description' content='Front-end & back-end developer, personal portfolio.')
    meta(name='author' content='Miguel Costero <miguelcostero@outlook.com>')

    title Priv.TV - #{titulo}
  body
    h1 Hola Mundo
