doctype html
html(lang="es" ng-app='adminApp')
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title Priv.TV - #{titulo}

    link(href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='public/Materialize/dist/css/materialize.min.css' rel='stylesheet')

    link(href="public/css/main.css" rel="stylesheet")
  body
    div(ng-view)

    script(src='public/jquery/dist/jquery.min.js')
    script(src='public/Materialize/dist/js/materialize.min.js')
    script(src='public/underscore/underscore-min.js')

    script(src='public/angular/angular.min.js')
    script(src='public/angular-cookies/angular-cookies.min.js')
    script(src='public/angular-resource/angular-resource.min.js')
    script(src='public/angular-route/angular-route.min.js')
    script(src='public/js/app.js')
    script(src='public/js/controllers/login.js')
    script(src='public/js/controllers/dashboard.js')
    script(src='public/js/factories/login.js')
    script(src='public/js/factories/dashboard.js')
    script(src='public/js/directives.js')
