doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title Priv.TV - #{titulo}

    link(href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='public/Materialize/dist/css/materialize.min.css' rel='stylesheet')
  body
    h1 Hola Mundo

    script(src='public/jquery/dist/jquery.min.js')
    script(src='public/Materialize/dist/js/materialize.min.js')
