.wrap-login,
.container-login {
    height: 100%;
}

.wrap-login {
    display: table;
    margin: auto;
}

.container-login {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}

.login-form {
  width: 280px;
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

/* dashboard */
.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  margin-left: 10px;
}

.poster {
  padding-right: 10px;
}
